body {

    background-image: url('');
}

* {
    margin: 0;
    padding: 0;
}

#containe {
    text-align: center;

    height: 80%;
    position: absolute;
    width: 90%;
    margin-top: 05%;
    margin-left: 05%;
    border-radius: 15px;
    background-image: url('/Photos/favlist\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(29, 35, 148);
}

.FavContainer {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    color: aliceblue;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 05%;
    padding: 10px 20px;

}